* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
i{
    color: #fff;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
}
i{
    margin-right: 5px;
}
.header {
  background: #fff8f3;
  background-image: url("img/header_bg.png"), url("img/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and nav styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 225px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner img {
  margin-left: 200px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
}
.banner-subtitle {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
  color: #474747;
}
.banner-des {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: auto;
}
section{
    margin-top: 130px;
  }
/* about section style */
.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
}
.section-des {
  font-size: 18px;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.about .info-des {
  color: #474747;
  font-weight: 700;
  text-align: center;
}
/* what i do styles */
.what-i-do .section-des{
    width: 909px;
    margin: auto;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-des{
    font-size: 16px;
    color: #757575;
}

/* resume styles */
.resume .section-title{
    margin-bottom: 100px;
}
.resume-content{
    display: flex;
    gap: 40px;
}
.resume .title{
    font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;
}
.resume .subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .des{
    font-size: 16px;
    color: #757575;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
footer{
    background-color: #fff8f3;
    margin-top: 55px;
}
footer .section-des{
    text-align: left;
}
.contact{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.contact .section-title{
text-align: left;
}
.contact input[type='text'],input[type='email'],textarea{
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
    margin-right: 24px;
}
input{
    height: 45px;
}
form{
    margin-bottom: 55px;
}